@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
  --light-color:#F3EED9;
  --accent-color:#824936;
  --dark-color:#222C2A;
  --font-color:white;
 --font: 'Roboto', sans-serif;
  --font-headings:'Playfair Display', serif;
}
.center{
  text-align: center;
}
body{
  font-family: var(--font);
  line-height: 1.5rem;
  font-weight:800;
  font-size:1.3rem;
}
.split{
  display: flex;
  flex-direction: column;
}
h1,h2,h3{
  font-family: var(--font-headings);
  line-height: 1;
  margin-bottom: 1.3em;
  color:var(--accent-color)
}
.container{
  margin:0 auto;
 
}
.container div{
  margin:2em;
}
.narrow-container{
  max-width: 33rem;
}
img{
  max-width: 100%;
  display: block;
}

header,
section{
  padding:3rem;
}
.bg-light{
  background-color: var(--light-color);
}

.bg-dark{
  background-color: var(--dark-color);
  color:var(--font-color)
}

.bg-accent{
  background-color: var(--accent-color);
  color:var(--font-color)
}

.bg-dark h2,
.bg-accent h2{
  color:var(--light-color)
}

@media (min-width:40em){
  .split{
   flex-direction: row;
  }

  /* direct children of .split will have equal columns */
  .split > *{
    flex-basis:100%
  }

  /* an element which has a sibling before it  */
  .split > * + *{
    margin-left: 4em;
  }
}